#objectElement {
    cursor: pointer;
    content: url(object.png);
    width: 50px;
    opacity: 0.0;
}
.alert-box { /* 额 弹框我给改成了全屏的乐 */
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(22, 22, 22, 0.2);
}
.alert-box::after{
    content:'NPK48 [六秒后自动重开]'; /* 这里是胜利之后的弹框 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.alert-mask{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(194, 190, 190, 0.2);
}